<%= stylesheetTag("4.css") %>
<section class="bg" id="bg"></section>

<section class="picker-4">
    <ul class="picker-list">
        <li class="picker-item" id="orange" style="background-color: #FC5D1D;">&nbsp;</li>  <!-- #FC5D1D -->
        <li class="picker-item" id="yellow" style="background-color: #FBB126;">&nbsp;</li>
        <!-- #FBB126 -->
        <li class="picker-item" id="turquise" style="background-color: #71D5AD;">&nbsp;</li>
        <!-- #71D5AD -->
        <li class="picker-item" id="green" style="background-color: #44CA79;">&nbsp;</li>
        <!-- #44CA79 -->
        <li class="picker-item" id="blue" style="background-color: #0588E0;">&nbsp;</li>
        <!-- #0588E0 -->
        <li class="picker-item" id="red" style="background-color: #E74140;">&nbsp;</li>
        <!-- #E74140 -->
        <li class="picker-item" id="purple" style="background-color: #9270EA;">&nbsp;</li>
        <!-- #9270EA -->
        <li class="picker-item" id="dark" style="background-color: #2C3E50;">&nbsp;</li>
        <!-- #2C3E50 -->
        <li class="picker-item rainbow" id="rainbow" style="background-color: #2C3E50;">&nbsp;</li>
    </ul>


</section>

<section class="textbox">
    <h1 class="pagetitle" id="pagetitle">thiévent</h1>
    <h3 class="subtitle-4">web . software . apps</h3>
</section>

<div class="info info-light has-text">
    <a href="#" class="info-button"> i </a>
    <div class="info-text">
        <ul>
            <li>Technology: CSS & JS</li>
        </ul>
    </div>
</div>

<!--
Here he is, you found him
================================.
   .--.                         |
  / _.-' .-.   .-.  .-.   .''.  |
  \  '-. '-'   '-'  '-'   '..'  |
   '--'                         |
  .-.  .================.  .-.  |
 |   | |                |  '-'  |
 |   | |                |       |
 ':-:' |                |  .-.  |
  '-'  |                |  '-'  |
       '================'       |
--------------------------------
-->

<%= javascriptTag("4.js") %>